      <div class="page-header" >

  <div class="row">
  <div class="col-md-6 px-0" >
    <div class="card card-fashion card-container ">
      <h4 class="card-title">FORM 3</h4>
      <div class="card-body">

         <div class="container ">


        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 px-0">
    <%= image_tag "img1.jpg", :class=>"card card-fashion card-background" %>
  </div>

</div>
</div>


lolilol <%@formuser%>
