
<div class="page-header header-filter" filter-color="greenblue">
  <%= image_tag "cover.jpg", :class=>"page-header-image" %>
  <div class="content-center">
    <div class="container">
      <div class="row">
        <div class="col-md-6 text-right">
          <h1 class="title">LE PROGRAMMEUR</h1>
          <h4 class="description">Trouves ton dev pour ton super website!</h4>
        </div>
        <div class="col-md-6 ml-auto text-left">
          <h2>Je suis...</h2>
          <a class="btn btn-warning btn-round btn-lg">Un particulier</a><br>
          <a class=" btn btn-warning btn-round btn-lg">Une entreprise</a><br>
          <a class=" btn btn-warning btn-round btn-lg">Une association</a>

      






                         <%= form_tag guests_path, method: :post do %>

                         <%= submit_tag 'Call ', class:"btn btn-warning btn-round btn-lg" %>

                         <% end %>

                      










        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6 px-0 ">
    <div class="card card-fashion card-container ">
      <h4 class="card-title">The view from south Texas in one Picture</h4>
      <div class="card-body">
        <div class="container ">
          <a class="btn btn-warning btn-round btn-lg">Un particulier</a><br>
          <a class=" btn btn-warning btn-round btn-lg">Une entreprise</a><br>
          <a class=" btn btn-warning btn-round btn-lg">Une association</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 px-0">
    <%= image_tag "img1.jpg", :class=>"card card-fashion card-background" %>
  </div>
</div>



<script type="text/javascript">

    var button = function() {
    $number = 3;
    
    };
    var where = document.getElementsByClassName("btn btn-warning btn-round btn-lg")
    where[3].addEventListener("click", button);
  
</script>
 </body>
 </html>
