<div class="page-header" >

  <div class="row h-100 d-inline-block">
  <div class="col-md-6 px-0" >
    <div class="card card-fashion card-container ">

<div class="content-center">
  <div class="container">
           <div class="dropdown">
             <button class="btn btn-info btn-round dropdown-toggle btn-lg" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                 Dropdown
             </button>
             <div class="dropdown-menu content-center dropdown-overflow" aria-labelledby="navbarDropdownMenuLink" x-placement="bottom-start" style="position: absolute; transform: translate3d(1px, 48px, 0px); top: 0px; left: 0px; will-change: transform; overflow:scroll; height:15em">




                              <% activity_show.each do |t| %>
                              <% t.each do |i| %>
                              <%= form_tag  guest_forms_path(:guest_id => @id_guest.id, :number => i[:id]), method: :post do %>
                              <%= submit_tag "#{i[:title]}", class:"dropdown-item" %>
                              <%end%>
                              <%end%>
                              <%end%>


</div>
             </div>
          </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 px-0 h-100 d-inline-block">
    <%= image_tag "img1.jpg", :class=>"mh-100 d-inline-block", :style=>"height:50em; object-fit:cover" %>
  </div>

</div>
</div>
