   <div class="page-header header-filter" filter-color="greenblue">
          <%= image_tag "cover.jpg", :class=>"page-header-image" %>
        <div class="content-center">
            <div class="container">
                <div class="row">

                    <div class="col-md-6 text-right">
                        <h1 class="title">LE PROGRAMMEUR</h1>
                        <h4 class="description">Trouves ton dev pour ton super website!</h4>


                    </div>

                      <div class="col-md-6 ml-auto text-left">
                          <h2>Je suis...</h2>
                       <strong>  JE SUIS LE VISITEUR NUMERO <%= @id_guest.id %> </strong>


                      </div>
                    </div>


            </div>
        </div>
    </div>
