<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Salut <%= @user.first_name %> et bienvenue chez nous !</h1>
    <p>
      Tu t'es inscrit sur LeProgrammeur.fr en utilisant l'e-mail suivant : <%= @user.email %>.
    </p>
    <p>
		Tu peux dès maintenant acceder a ton devis sur <%= @url %>
    </p>
    <p> À très vite sur LeProgrammeur.fr ! </p>
  </body>
</html>
