<div class="page-header page-header-small">

            <%= image_tag "cover-code.jpg", :class=>"page-header-image" %>
            <div class="content-center">
                <div class="row">
                    <div class="col-md-8 ml-auto mr-auto">
                        <h1 class="title">Contact</h1>
                        <h4>Contactez nous!</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
                            <div class="row">
                                <div class="col-md-5 ml-auto mr-auto">
                                    <h2 class="title">Messenger</h2>
                                    <p class="description">Une fois connecté, vous pouvez nous envoyer des messages dirrectement dans le chat!
                                        <br>
                                        <br>
                                    </p>
                                    <%= image_tag "phone.png" %>
                                </div>
                                <div class="col-md-5 ml-auto mr-auto">
                                    <div class="info info-horizontal mt-5">
                                        <div class="icon icon-primary">
                                            <i class="now-ui-icons location_pin"></i>
                                        </div>
                                        <div class="description">
                                            <h4 class="info-title">Notre bureau</h4>
                                            <p> 15 rue de la Lancette
                                                <br> 75011 Paris,
                                                <br> France
                                            </p>
                                        </div>
                                    </div>
                                    <div class="info info-horizontal">
                                        <div class="icon icon-primary">
                                            <i class="now-ui-icons tech_mobile"></i>
                                        </div>
                                        <div class="description">
                                            <h4 class="info-title">Notre telephone</h4>
                                            <p> Yannick
                                                <br> +33 6 12 34 56 78
                                                <br> Lun - Dim, 24h/24h
                                            </p>
                                        </div>
                                    </div>
                                    <div class="info info-horizontal">
                                        <div class="icon icon-primary">
                                            <i class="business_briefcase-24 now-ui-icons"></i>
                                        </div>
                                        <div class="description">
                                            <h4 class="info-title">Legal Information</h4>
                                            <p> Creative Tim Ltd.
                                                <br> VAT · EN2341241
                                                <br> IBAN · EN8732ENGB2300099123
                                                <br> Bank · Great Britain Bank
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
