<div class="page-header page-header-small">

            <%= image_tag "cover-code.jpg", :class=>"page-header-image" %>
            <div class="content-center">
                <div class="row">
                    <div class="col-md-8 ml-auto mr-auto">
                        <h1 class="title">Portfolio</h1>
                        <h4>Les sites que nous avons fait</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="section">
          <div class="container">

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="card card-plain card-blog">
                                        <div class="card-image">
                                          <div class="card-image">


                                                  <%= image_tag "CBD.png", :class=>"img rounded img-raised"%>

                                          </div>
                                        </div>
                                        <div class="card-body">
                                            <h6 class="category text-info">Enterprise</h6>
                                            <h4 class="card-title">
                                                <a href="#pablo">Autodesk looks to future of 3D printing with Project Escher</a>
                                            </h4>
                                            <p class="card-description">
                                                Like so many organizations these days, Autodesk is a company in transition. It was until recently a traditional boxed software company selling licenses.
                                                <a href="#pablo"> Read More </a>
                                                </p>
                                            <p></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card card-plain card-blog">
                                        <div class="card-image">
                                          <div class="card-image">

                                                  
                                                  <%= image_tag "airbnb.png", :class=>"img rounded img-raised"%>

                                          </div>
                                        </div>
                                        <div class="card-body">
                                            <h6 class="category text-success">
                                                Startups
                                            </h6>
                                            <h4 class="card-title">
                                                <a href="#pablo">Lyft launching cross-platform service this week</a>
                                            </h4>
                                            <p class="card-description">
                                                Like so many organizations these days, Autodesk is a company in transition. It was until recently a traditional boxed software company selling licenses.
                                                <a href="#pablo"> Read More </a>
                                                </p>
                                            <p></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card card-plain card-blog">
                                        <div class="card-image">


                                                <%= image_tag "wix.png", :class=>"img rounded img-raised"%>

                                        </div>
                                        <div class="card-body">
                                            <h6 class="category text-danger">
                                                <i class="now-ui-icons media-2_sound-wave"></i> Enterprise
                                            </h6>
                                            <h4 class="card-title">
                                                <a href="#pablo">6 insights into the French Fashion landscape</a>
                                            </h4>
                                            <p class="card-description">
                                                Like so many organizations these days, Autodesk is a company in transition. It was until recently a traditional boxed software company selling licenses.
                                                <a href="#pablo"> Read More </a>
                                                </p>
                                            <p></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>
