<tr> 
<td> Pour Qui ??? </td>
<td> Activité </td>
<td> Quel type ?</td>
<td> Quel fonctionnalité</td>
</tr>



<tr> 
<td> Tout le monde</td>
<td> Pharmacien</td>
<td> Blog fun</td>
<td> Compte admin</td>
</tr>